body,
html {
  margin: 0;
  padding: 0;
}
/*============
  删除间距
  ==========*/
dl,
dd,
ul,
ol,
li,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
form,
fieldset,
legend,
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
}
body {
  font-size: 62.5%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.hero {
  max-width: 100em;
  margin: 0 auto;
  background: url('/images/bg3.jpg');
  background-size: cover;
  color: #ffffff;
  padding-bottom: 20em;
}
.hero header img {
  width: 5em;
  height: 2em;
  float: left;
  margin: 1em 0 0 3em;
}
.hero header ul {
  float: right;
  list-style-type: none;
}
.hero header ul li {
  float: left;
  margin: 0 .5em;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 2px;
}
.hero header ul li:last-child {
  border: 1px solid #ffffff;
}
.hero header:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.hero h1 {
  font-size: 4em;
  padding: 1em 0 .5em 0;
  font-weight: bold;
}
.hero h2 {
  font-size: 2em;
}
.hero form {
  padding: 2em 0 4em 0;
}
.hero form input[type="text"] {
  padding: 1em;
  border: 0;
  width: 18em;
  border-radius: 2px 0 0 2px;
  opacity: .3;
  background: #efefef;
}
.hero form input[type="button"] {
  color: #ffffff;
  padding: 1em;
  border: 0;
  width: 6em;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
  text-transform: uppercase;
}
.numbers {
  width: 80%;
  margin: 0 auto;
}
.numbers ul {
  list-style-type: none;
  position: relative;
  top: -4em;
  background-color: #efefef;
}
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border: 1px solid #d9dada;
  border-right: 0;
}
.numbers ul li:last-child {
  border-right: 1px solid #d9dada;
}
.numbers ul li h2 {
  font-size: 2em;
  padding: 1em 0;
}
.numbers ul li h3 {
  padding: 0 0 2em 0;
}
.numbers ul:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0;
}
.how-it-works h2::after {
  display: block;
  content: "";
  background-color: #999999;
  width: 2em;
  height: .1em;
  margin: .4em auto;
}
.how-it-works ul {
  list-style-type: none;
}
.how-it-works ul li {
  float: left;
  width: 33.33%;
}
.how-it-works ul li::before {
  display: block;
  content: "";
  background: #999999;
  width: 'calc(100% - 1rem)';
  height: 1px;
  position: relative;
  top: 4em;
  left: 50%;
  margin: 0 2em;
}
.how-it-works ul li:last-child::before {
  display: none;
}
.how-it-works ul li .number {
  font-size: 2em;
  color: #999999;
  border: 1px solid #999999;
  width: 1em;
  height: 1em;
  line-height: 1em;
  display: block;
  margin: 1em auto 2em auto;
  padding: .4em;
  border-radius: 100%;
  background: #efefef;
}
.how-it-works ul li i {
  font-size: 3.6em;
}
.how-it-works ul li .fa-address-card {
  color: #eca95a;
}
.how-it-works ul li .fa-pen {
  color: #ac9cd2;
}
.how-it-works ul li .fa-user-friends {
  color: #4d99cb;
}
